{% from "openssh/map.jinja" import sshd_config with context %}
{#- present in sshd_config and known in actual file options -#}
{%- set processed_options = [] -%}

{#- generic renderer used for sshd matches, known options, -#}
{#- and unknown options -#}
{%- macro render_option(keyword, default, config_dict=sshd_config) -%}
  {%- set value = config_dict.get(keyword, default) -%}
  {%- if value is sameas true -%}
{{ keyword }} yes
  {%- elif value is sameas false -%}
{{ keyword }} no
  {%- elif value is string or value is number -%}
{{ keyword }} {{ value }}
  {%- else -%}
{%- for single_value in value -%}
{{ keyword }} {{ single_value }}
{% endfor -%}
  {%- endif -%}
{%- endmacro -%}

{#- macros for render option according to present -#}
{%- macro option_impl(keyword, default, present) -%}
  {%- if present -%}
    {%- do processed_options.append(keyword) -%}
    {%- set prefix='' -%}
  {%- else -%}
    {%- set prefix='#' -%}
  {%- endif -%}
  {#- add prefix to keyword -#}
  {%- set keyword = prefix ~ keyword -%}
{{ render_option(keyword, default) }}
{%- endmacro -%}

{#- macros for render option commented by default -#}
{%- macro option(keyword, default, present) -%}
{{ option_impl(keyword, default, keyword in sshd_config) }}
{%- endmacro -%}

{#- macros for render option uncommented by default -#}
{%- macro option_default_uncommented(keyword, default, present) -%}
{{ option_impl(keyword, default, True) }}
{%- endmacro -%}
#	$OpenBSD: sshd_config,v 1.98 2016/02/17 05:29:04 djm Exp $
#	$FreeBSD: releng/11.0/crypto/openssh/sshd_config 296633 2016-03-11 00:15:29Z des $

# This is the sshd server system-wide configuration file.  See
# sshd_config(5) for more information.

# This sshd was compiled with PATH=/usr/bin:/bin:/usr/sbin:/sbin

# The strategy used for options in the default sshd_config shipped with
# OpenSSH is to specify options with their default value where
# possible, but leave them commented.  Uncommented options override the
# default value.

# Note that some of FreeBSD's defaults differ from OpenBSD's, and
# FreeBSD has a few additional options.
#
# WARNING: ------------------------------------------------------------------
#
# THIS FILE IS MANAGED BY SALT
#
# ---------------------------------------------------------------------------

{{ option('Port', 22) }}
{{ option('AddressFamiliy', 'any') }}
{{ option('ListenAddress', ['0.0.0.0', '::']) }}

# The default requires explicit activation of protocol 1
{{ option('Protocol', 2) }}

# HostKey for protocol version 1
#HostKey /etc/ssh/ssh_host_key
# HostKeys for protocol version 2
{{ option('HostKey', ['/etc/ssh/ssh_host_rsa_key', '/etc/ssh/ssh_host_dsa_key', '/etc/ssh/ssh_host_ecdsa_key', '/etc/ssh/ssh_host_ed25519_key']) -}}


# Lifetime and size of ephemeral version 1 server key
{{ option('KeyRegenerationInterval', '1h') }}
{{ option('ServerKeyBits', 1024) }}

# Ciphers and keying
{{ option('RekeyLimit', 'default none') }}

# Logging
# obsoletes QuietMode and FascistLogging
{{ option('SyslogFacility', 'AUTH') }}
{{ option('LogLevel', 'INFO') }}

# Authentication:
{{ option('LoginGraceTime', '2m') }}
{{ option('PermitRootLogin', 'no') }}
{{ option('StrictModes', 'yes') }}
{{ option('MaxAuthTries', 6) }}
{{ option('MaxSessions', 10) }}

{{ option('RSAAuthentication', 'yes') }}
{{ option('PubkeyAuthentication', 'yes') }}

# The default is to check both .ssh/authorized_keys and .ssh/authorized_keys2
{{ option('AuthorizedKeysFile', '.ssh/authorized_keys .ssh/authorized_keys2') }}

{{ option('AuthorizedPrincipalsFile', 'none') }}

{{ option('AuthorizedKeysCommand', 'none') }}
{{ option('AuthorizedKeysCommandUser', 'nobody') }}

# For this to work you will also need host keys in /etc/ssh/ssh_known_hosts
{{ option('RhostsRSAAuthentication', 'no') }}
# similar for protocol version 2
{{ option('HostbasedAuthentication', 'no') }}
# Change to yes if you don't trust ~/.ssh/known_hosts for
# RhostsRSAAuthentication and HostbasedAuthentication
{{ option('IgnoreUserKnownHosts', 'no') }}
# Don't read the user's ~/.rhosts and ~/.shosts files
{{ option('IgnoreRhosts', 'yes') }}

# Change to yes to enable built-in password authentication.
{{ option('PasswordAuthentication', 'no') }}
{{ option('PermitEmptyPasswords', 'no') }}

# Change to no to disable PAM authentication
{{ option('ChallengeResponseAuthentication', 'yes') }}

# Kerberos options
{{ option('KerberosAuthentication', 'no') }}
{{ option('KerberosOrLocalPasswd', 'yes') }}
{{ option('KerberosTicketCleanup', 'yes') }}
{{ option('KerberosGetAFSToken', 'no') }}

# GSSAPI options
{{ option('GSSAPIAuthentication', 'no') }}
{{ option('GSSAPICleanupCredentials', 'yes') }}

# Set this to 'no' to disable PAM authentication, account processing,
# and session processing. If this is enabled, PAM authentication will
# be allowed through the ChallengeResponseAuthentication and
# PasswordAuthentication.  Depending on your PAM configuration,
# PAM authentication via ChallengeResponseAuthentication may bypass
# the setting of "PermitRootLogin without-password".
# If you just want the PAM account and session checks to run without
# PAM authentication, then enable this but set PasswordAuthentication
# and ChallengeResponseAuthentication to 'no'.
{{ option('UsePAM', 'yes') }}

{{ option('AllowAgentForwarding', 'yes') }}
{{ option('AllowTcpForwarding', 'yes') }}
{{ option('GatewayPorts', 'no') }}
{{ option('X11Forwarding', 'yes') }}
{{ option('X11DisplayOffset', 10) }}
{{ option('X11UseLocalhost', 'yes') }}
{{ option('PermitTTY', 'yes') }}
{{ option('PrintMotd', 'yes') }}
{{ option('PrintLastLog', 'yes') }}
{{ option('TCPKeepAlive', 'yes') }}
{{ option('UseLogin', 'no') }}
{{ option('UsePrivilegeSeparation', 'sandbox') }}
{{ option('PermitUserEnvironment', 'no') }}
{{ option('Compression', 'delayed') }}
{{ option('ClientAliveInterval', 0) }}
{{ option('ClientAliveCountMax', 3) }}
{{ option('UseDNS', 'yes') }}
{{ option('PidFile', '/var/run/sshd.pid') }}
{{ option('MaxStartups', '10:30:100') }}
{{ option('PermitTunnel', 'no') }}
{{ option('ChrootDirectory', 'none') }}
#VersionAddendum FreeBSD-20160310

# no default banner path
#Banner none

# override default of no subsystems
{{ option_default_uncommented('Subsystem', 'sftp /usr/lib/openssh/sftp-server') }}
{# ----------------------------------------- #}
{# Handling unknown in salt template options #}
{%- for keyword in sshd_config.keys() %}
  {#- Matches have to be at the bottom and should be handled differently -#}
  {%- if not keyword in processed_options and keyword != 'matches' -%}
{#- send a blank default as it doesn't matter #}
{{ render_option(keyword, '') }}
  {%- endif -%}
{%- endfor %}
{# Handle matches last as they need to go at the bottom #}
{%- if 'matches' in sshd_config %}
  {%- for match in sshd_config['matches'].values() %}
Match {{ match['type'].keys()[0] }} {{ match['type'].values()[0] }}
    {%- for keyword in match['options'].keys() %}
    {{ render_option(keyword, '', config_dict=match['options']) }}
    {%- endfor %}
  {%- endfor %}
{%- endif %}
